/* Write your CSS here */
.container {
  background-color: #ffd569;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #ffffff;
  background-size: cover;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  margin: 20px;
}

.count {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 40px;
  color: #ffd569;
  margin: 20px;
}

.img {
  width: 30%;
}

.button {
  height: 40px;
  width: 100px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  border-width: 0px;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
}
